substitutions:
  friendly_name: "Face Detector"

esphome:
  name: face-detector
  friendly_name: ${friendly_name}

esp32:
  board: seeed_xiao_esp32c3
  framework:
    type: arduino

logger:
  level: DEBUG

api:
  encryption:
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: ${friendly_name}
    password: !secret wifi_ap_password

captive_portal:

web_server:
  port: 80

i2c:
  sda: GPIO6
  scl: GPIO7
  scan: true

external_components:
  - source:
      type: git
      url: http://github.com/jduanen/ESPHomeComponents
#      ref: main
    refresh: 0s
    components: [sen21231M]

sensor:
  - platform: wifi_signal
    id: wifi_rssi
    name: "${friendly_name} WiFi Signal"
  - platform: sen21231M
    id: face_detector
    update_interval: 10s
    state_class: measurement

