substitutions:
  friendly_name: "Kitty Feeder Sensor"

esphome:
  name: feeder
  friendly_name: ${friendly_name}

esp8266:
  board: esp01_1m

logger:
  level: VERBOSE

api:
  encryption:
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: ${friendly_name}
    password: !secret wifi_ap_password

captive_portal:

web_server:
  port: 80

sensor:
  - platform: wifi_signal
    id: wifi_rssi
    name: "${friendly_name} WiFi Signal"

binary_sensor:
  - platform: gpio
    pin: GPIO13    # D7
    name: "Feeder PIR Sensor"
    device_class: PRESENCE

switch:
  - platform: gpio
    pin: GPIO14    # D5
    name: "High Voltage PSU"
    restore_mode: ALWAYS_OFF
    inverted: true

output:
  - platform: gpio
    pin: GPIO12    # (D6) White LEDs
    id: ledOutput
    inverted: false

light:
  - platform: binary
    name: "White LEDs"
    output: ledOutput
