substitutions:
  friendly_name: "Kitty Camera"

esphome:
  name: kittycam
  friendly_name: ${friendly_name}
  comment: "ESP32-S3-Sense Camera with PIR Sensor and White LED"

esp32:
  board: seeed_xiao_esp32s3
  variant: esp32s3

logger:
  level: WARN

api:
  encryption:
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: ${friendly_name}
    password: !secret wifi_ap_password

captive_portal:

web_server:
  port: 80

i2s_audio:
  i2s_lrclk_pin: GPIO1  # Dummy pin just for requirement, unused by PDM
  i2s_bclk_pin: GPIO42  # Bit Clock (PDM_CLK for Sense Hat)

microphone:
  - platform: i2s_audio
    id: kc_mic
    i2s_din_pin: GPIO41  # Data In
    adc_type: external
    pdm: true

sensor:
  - platform: wifi_signal
    id: wifi_rssi
    name: "${friendly_name} WiFi Signal"

i2c:
  id: i2cBus
  sda: GPIO40
  scl: GPIO39

esp32_camera:  # XIAO SENSE
  name: Kitty Cam
  id: kitty_cam
  external_clock:
    pin: GPIO10
    frequency: 20MHz
  i2c_id: i2cBus
  data_pins: [GPIO15, GPIO17, GPIO18, GPIO16, GPIO14, GPIO12, GPIO11, GPIO48]
  vsync_pin: GPIO38
  href_pin: GPIO47
  pixel_clock_pin: GPIO13
  resolution: 640x480  # 800x600 1024x768 1280x1024 1600x1200 1920x1080
  jpeg_quality: 10
#  reset_pin: GPIO??
#  power_down_pin: GPIO??
#  test_pattern: true
#  max_framerate: 30fps
#  idle_framerate: 0.1fps
#  vertical_flip: true
#  horizontal_mirror: true
#  contrast: 0
#  brightness: 0
#  saturation: 0
#  special_effect: none  # grayscale
#  aec_mode: auto
#  agc_mode: auto

esp32_camera_web_server:
  - port: 8080
    mode: stream
  - port: 8081
    mode: snapshot

binary_sensor:
  - platform: gpio
    pin: GPIO4
    name: "Kittycam PIR Sensor"
    device_class: PRESENCE

output:
  - platform: ledc
    pin: GPIO2    # white LED
    id: kittyCamLED

light:
  - platform: monochromatic
    output: kittyCamLED
    name: "Kittycam Light"
