html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-size: 1.9rem;
  color: white;
}
h2 {
  margin: 5px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #143642;
}
h3 {
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #143642;
}
.topnav {
  overflow: hidden;
  background-color: #143642;
}
body {
  margin: 0;
}
.content {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}
.card {
  background-color: #F8F7F9;
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 12px;
}
.staticStateName {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
.stateName {
  font-size: 1.2rem;
  color: #8c8c8c;
  font-weight: bold;
}
.staticStateValue {
  font-size: 1.2rem;
  color: blue;
}
.stateValue {
  font-size: 1.2rem;
  color: blue;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}
.switch input {
  display: none
}
.slider {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  border-radius: 25px
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}
.vertical-center {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5em;
  font-size: 1.2rem;
  color:#8c8c8c;
  font-weight: bold;
}
.vertical-right {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5em;
  font-size: 1.2rem;
  color: #8c8c8c;
  font-weight: bold;
  text-align: right;
}
.center {
  font-size: 1.2rem;
  color: #8c8c8c;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
input:checked+.slider {
  background-color: #28C999;
}
input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.green-button {
  background-color: #28C999;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
.green-button:disabled {
  background: #F5F5F5;
  color : #C3C3C3;
}
.blue-button {
  background-color: #1E85C9;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
.blue-button:disabled {
  background: #F5F5F5;
  color: #C3C3C3;
}
.colorsButton {
  width:30px;
  height:30px;
  border:1px solid;
}
.box{
  width: 274px;
  height: 233px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}
