[Unit]
Description=SensorNet MQTT logging server

[Service]
User=jdn
WorkingDirectory=/home/jdn/Code/SensorNet/tools
ExecStart=/bin/bash -c 'cd /home/jdn/Code/SensorNet/tools && source /home/jdn/.virtualenvs/SENSOR_NET/bin/activate && python MqttLogger.py -v -a'
Restart=always

[Install]
WantedBy=multi-user.target
